In [33]:
import pandas as pd
import numpy as np
from sklearn.cluster import MeanShift

In [44]:
data = pd.read_csv('checkins.dat', sep='|', skipinitialspace=True, skiprows=[1])
data = data.dropna()
data.rename(columns={'latitude      ': 'latitude', 'longitude     ': 'longitude'}, inplace=True)
data = data.iloc[:100000, :].loc[:, ['latitude', 'longitude']]

data

C:\Everything\IT Programs\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

         latitude   longitude
1       38.895112  -77.036366
3       33.800745  -84.410520
7       45.523452 -122.676207
9       40.764462 -111.904565
10      33.448377 -112.074037
...           ...         ...
233788  33.575000 -117.725556
233789  37.629349 -122.400087
233793  29.762884  -95.383061
233797  32.802955  -96.769923
233798  37.774929 -122.419415

[100000 rows x 2 columns]

In [45]:
ms = MeanShift(bandwidth=0.1)
ms.fit(data)

MeanShift(bandwidth=0.1)

In [46]:
labels = ms.labels_
cluster_centers = ms.cluster_centers_

labels_unique = np.unique(labels)

In [48]:
cluster_centers_best = cluster_centers[labels_unique[labels_unique > 15]]

cluster_centers_best

array([[  39.95168037,  -75.16273592],
       [  34.03548695, -118.43899772],
       [  32.98089338, -117.07811798],
       ...,
       [ -37.8229826 ,  145.1811902 ],
       [ -41.2924945 ,  174.7732353 ],
       [ -45.0311622 ,  168.6626435 ]])